# Ignore node_modules
node_modules/

# Ignore build output
out/

# Ignore VS Code settings
.vscode/

# Ignore Webpack cache
.cache/

# Ignore npm debug logs
npm-debug.log

# Ignore VS Code extension package
*.vsix